---
---

@import "{{ site.theme }}";

header .view, footer {
  display: none;
}

header a {
  display: block;
  width: 280px;
  height: 280px;
  background: url(assets/images/logo.png);
  background-size: contain;
  text-align: center;
}
